.magic-section {
  width: 100%;
  padding: 90px 0;

  background:
    linear-gradient(
      180deg,
      #edf7f6,
      #e9f4f3
    );
}

/* CONTAINER */

.magic-container {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding: 0 30px;

  text-align: center;
}

/* TITLE */

.magic-container h2 {
  font-size: 38px;
  line-height: 66px;

  font-weight: 800;

  letter-spacing: -2px;

  color: #0d2236;
}

/* BUTTON */

.magic-container button {
  margin-top: 34px;

  height: 58px;
  padding: 0 32px;

  border: none;
  outline: none;

  border-radius: 14px;

  background:
    linear-gradient(
      135deg,
      #ff4336,
      #ff665c
    );

  color: white;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0 18px 40px rgba(255,67,54,0.24);

  transition: 0.3s ease;
}

.magic-container button:hover {
  transform: translateY(-3px);
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .magic-section {
    padding: 70px 0;
  }

  .magic-container h2 {
    font-size: 40px;
    line-height: 48px;
  }

}